.donation-section {
    background-image: url("assets/donation/annie-spratt-427340-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;

}

.flex {
    display: flex;
    flex-direction: column-reverse;
}

header h1 {
    text-align: center;
    font-family: helvetina;
    color: #354463;

}

.give-hope {
    text-align: center;
    font-family: flood std;
    color: #354463;
    font-size: 9vw;
}

.container {
    background-color: #354463;
    width: 63vw;
    margin: 10%;
    padding: 10%;
}

header h1 {
    text-align: center;
    font-family: helvetica;
    color: #354463;
}

.donation-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-text {
    font-size: 5vw;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 3vw;

}

.container input {
    width: 89%;
    border: none;
    outline: none;
    border-bottom: 1px solid #C1F7D5;
    background: #354463;
}


.container input:focus ~ label,
.container input:valid ~ label {
    top: -70%;
    position: relative;
    transition: all 0.4s ease;
    color: aqua;

    font-size: 14px;

}



.form-element {
    padding: 1em;

}

.form-element label {
    color: white;
    font-size: 1.2vw;

    font-size: 3vw;
}

.name {
    display: flex;
}

.address {
    display: flex;
}

.card-details {
    display: flex;

}

.payment-confirmation {
    display: flex;
    flex-direction: column;
}

.container button {
    background: #C1F7D5;
    color: #354463;
    border: solid #C1F7D5;
    border-radius: 1.5em;
    font-size: 5vw;
    padding: 4%;
    margin: 7%;

}

.go-back {
    color: #C1F7D5;
}



footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    padding: 3%;
    color: #354463;
    font-size: 3vw;

}

.state {

    width: 56%;
    align-self: center;

    border-bottom: 4px solid #c1f7d5;
    height: 5vw
}

.footer-title {
    grid-area: 1/1;
    font-size: 3vw;
    color: #354463;

}

.contact {
    grid-area: 1/2;
}

.learn {
    grid-area: 2/1;
}

.follow {
    grid-area: 2/2;
}

.footer-caption {
    grid-area: 3/2;
    font-family: flood std;
    color: #354463;
}

@media (min-width: 520px) {

    .payment-confirmation {
        display: flex;
        flex-direction: row;
    }

    .container button {

        font-size: 3vw;
        padding: 1%;
        margin: 2%;
        order: 2;
    }

    .go-back {
        order: 1;
        flex-grow: 1;
        align-self: center;
    }

    footer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 7%;
    }

    .learn {
        grid-area: 2/2;

    }

    .footer-caption {
        grid-area: 2/3;
    }

    .follow {
        grid-area: 1/3;
    }

    footer p {
        font-size: 2vw;
    }

    footer h3 {

        font-size: 2.5vw;
    }

    footer h1 {
        font-size: 4vw;
    }

    footer h2 {
        font-size: 3vw;
    }
}

@media (min-width: 920px) {

    .donation-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 9%;
    }

    .footer-title {
        grid-area: 1/1;

    }

    .contact {
        grid-area: 1/2;
    }

    .follow {
        grid-area: 1/3;

    }

    .learn {
        grid-area: 1/4;
    }

    .footer-caption {
        grid-area: 1/5;
    }

    .hope-statement {
        width: 40%;

    }

    .give-hope {
        font-size: 6vw;
    }

    .container {

        width: 70%;
    }

    .form-element label {
        color: white;
        font-size: 1.2vw;
        font-size: 1.3vw;
    }

    .form-text {

        font-size: 1.7vw;
    }

    .container input {
        width: 108%;
    }

    .container {
        background-color: #354463;
        width: 60%;
        margin: 10%;
        padding: 3%;
    }

    .give-hope {
        font-size: 5vw;
        margin-top: -8em;
    }

    footer p {
        font-size: 1.5vw;
    }

    footer h3 {
        font-size: 1.5vw
    }

    footer h2 {
        font-size: 2vw;
    }

    footer h1 {
        font-size: 4vw;
    }
}
