html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a{
  color:inherit;
  text-decoration:inherit;
}

@font-face {
  font-family: flood;
  src: url(../fonts/Flood.ttf);
}

.text-format-regular {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color:#354463;
}

.text-format-bigtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color:#354463;
}

.text-format-section-descriptions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color:#354463;
}

.text-format-smalltitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color:#354463;
}

.text-format-mediumtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color:#354463;
}

.flood-font {
  font-family: flood;
  font-size: 3rem;
  line-height: 1em;
  color:#354463;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.image-format-1 {
  width: 50vw;
  height: 32vw;
  object-fit: cover;
}

.image-format-2 {
  width: 40vw;
  height: 40vw;
  object-fit: cover;
}

.white {
  color: white;
}

.black{
  color:#354463;
}

.black-box {
  background-color:#354463;
  width: 30vw;
  padding: 0.3em;
  text-align: center;
}

.white-box{
  background-color:white;
  width: 30vw;
  padding: 0.3em;
  text-align: center;

}

header {
  display: grid;
  grid-template-columns: 40% 55%;
  width: 100%;
  padding: 1em;
}

nav {
  justify-self: end;
}

.the-issue {
  display: flex;
  flex-direction: column;
  background-image: url("assets/home/annie-spratt-135307-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: space-around;
}

.issue-box {
  display: flex;
  height: 40vw;
  flex-direction: column;
  justify-content: space-around;
  background-color:white;
  position: relative;
  border: 1px black solid;
  margin: 2em;
}

.hashtag {
  margin: 1em;
}

.issue-content {
  align-self: center;
  width: 80%;
  text-align: center;
}

.issue-title {
  align-self: center;

  position: absolute;
  top: -15px;

  /* width:70%; */
}

.the-issue-readmore {
  align-self: center;
  width: 70%;
  text-align: center;
}

.take-action {
  position: relative;
  background-color: #c1f7d5;
}

.take-action--title {
  position: absolute;
  left: 30%;
  top: -15px;
}

.take-action-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}

.what-we-do {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  gap: 3em;
  background-color: #354463;
}

.what-we-do--title {
  margin: 2vw;
}

.what-we-do--content {
  width: 75%;
}

.our-work {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  row-gap: 8vw;
  justify-items: center;
  padding-bottom: 10vw;
}

.our-work>div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: 1px solid black;
  width: 75vw;
  height: 90vw;
  position: relative;
  padding: 10vw;
  background-color: white;
}

.work-content-placing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 20vw;
}

.work-image-positioner {
  position: absolute;
  top: -20px;
  left: 12vw;
}

.did-you-know {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 2vw;
  background-image: url("assets/home/did-you-know-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: space-around;
  padding: 4vw;
}

.did-you-know--tag {
  width: 75%;
  margin: 4vw;
}

.take-action-button {
  margin: 4vw;
  background-color:#C1F7D5;
  width: 40vw;
  text-align:center;
  padding:0.5em;
  border-radius:2em;
}

.did-you-know--title {
  position: absolute;
  top: -15px;
  left: 5vw;
  
  width: 20vw;
}

.did-you-know--box {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-gap: 2em;
  grid-column: 2;
  grid-row: 1 / span 3;
}

.did-you-know--box>div {
  width: 95%;
  height: 20vw;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5fr 1fr;
  position: relative;
  padding: 4vw;
  align-items: center;
  background-color: white;
}

.follow-img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  justify-self: center;
  background-color:#C1F7D5;
  border-radius:100%;
  padding:0.1em;
}

.stories {
  padding: 2em;
}

.stories-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 60vw;
}

.stories--content-box {
  display: grid;
  position: absolute;
  height: 50vw;
  width: 80vw;
  background-color: #354463;
  border: 1px black solid;
  align-items: center;
  text-align: center;
  bottom: -55vw;
}

.the-story>div {
  font-size: 0.8em;
}

.stories--title {
  position: absolute;
  top: -15px;
  left: 20vw;
}

.stories--image {
  position: relative;
}

.story-img {
  width: 80vw;
  height: 70vw;
}

.event-and-news {
  background-color: #354463;
  display: grid;
  justify-items: center;
  gap: 4vw;
  padding-bottom: 4vw;
}

.event-and-news-tag {
  text-align: center;
  justify-self: center;
  padding: 0.5em;
}

.event--box {
  display: grid;
  gap: 4vw;
  justify-items: center;
}

.news--box {
  display: grid;
  gap: 4vw;
  justify-items: center;
}

.event-image {
  justify-self: center;
}

.event--title-box {
  justify-self: center;
  text-align: center;
}

.event-and-news--title1 {
  width: 80vw;
  justify-self: center;
  text-align: center;
}

.event-and-news--content1 {
  width: 80vw;
  text-align: center;
  justify-self: center;
}

.event-and-news--title2 {
  width: 80vw;
  justify-self: center;
  text-align: center;
}

.event-and-news--content2 {
  width: 80vw;
  text-align: center;
  justify-self: center;
}

.event--read-more {
  justify-self: center;
  text-align: center;
}

.news--read-more {
  justify-self: center;
  text-align: center;
}

.subscription {
  padding: 10vw 6vw;
  background-color: #c1f7d5;
}

.subscription-box {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  gap: 4vw;
  justify-items: center;
  align-items: center;
}

.subscribe-message {
  grid-column: 1 / span 3;
  grid-row: 1;
}

/* #email-entry{
    width:90%;
} */
.email-box {
  grid-row: 2;
  grid-column: 1 / span 2;
  width:100%;
}

.subscribe-button {
  grid-row: 2;
  grid-column: 3;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  padding: 2em;
}

.contact-us {
  width: 35vw;
}

.links {
  grid-column: 2;
  grid-row: 2;
}

.follow-us {
  grid-column: 1;
}

.footer-hashtag {
  grid-column: 1 / span 2;
  padding: 1vw 4vw;
  text-align: end;
}

@media (max-width: 520px) {
  .donate-bar {
    grid-column: 1/3;
    align-self: center;
    text-align: center;
    background-color: #C1F7D5;
    padding: 0.5em;
    width: 45vw;
    justify-self: center;
    margin: 0.5em;
    border-radius: 6em;
  }


  .our-work-readmore {
    width: 30vw;
    height:8vw;
    background-color:#C1F7D5;
    padding:0.5em;
    border-radius:3em;
    text-align:center;
    justify-self:center;
  }

  .did-you-know {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 8vw;
  }

  .did-you-know--box {
    grid-column: auto;
    grid-row: auto;
  }

  .did-you-know--title {
    left: 18px;
    width: 40vw;
  }

  .did-you-know--box>div {
    width: 80%;
    height: 30vw;
  }

  .image-format-2 {
    width: 80vw;
    height: 80vw;
  }
}

@media (min-width: 521px) and (max-width: 1020px) {
  .donate-bar {
    grid-column: 2;
    grid-row: 1/3;
    text-align: center;
    justify-self: end;
    align-self: center;
    background-color: #C1F7D5;
    width: 30vw;
    padding: 0.5em;
    border-radius: 5em;
  }

  nav {
    display: grid;
    grid-column: 1/3;
    justify-self: start;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .our-work-readmore {
    justify-self: end;
    width: 30vw;
    height:6vw;
    background-color:#C1F7D5;
    padding:0.5em;
    border-radius:3em;
    text-align:center;
    
  }

  .our-work>div {
    grid-template-columns: 50% 40%;
    grid-template-rows: auto;
    grid-auto-rows: 20vw;
    padding: 0;
    gap: 1em;
    width: 90vw;
    height: 50vw;
    text-align: start;
  }

  .work-image-positioner {
    position: absolute;
    left: 5vw;
  }

  .image-format-1 {
    width: 40vw;
    height: 28vw;
  }

  .work-content-placing {
    padding: 0;
    grid-column: 2;
  }

  .what-we-do--title {
    padding: 0;
  }

  .did-you-know--title {
    position: absolute;
    top: -15px;
    left: 5vw;
    width: 25vw;
  }

  .did-you-know--box>div {
    width: 90%;
    height: 25vw;
    padding: 1em;
  }

  .stories--title {
    left: 5vw;
  }

  .stories--content-box {
    height: 30vw;
    width: 80vw;
    bottom: -25vw;
    left: 10vw;
  }

  .stories-box {
    gap: 30vw;
  }

  .image-format-2 {
    width: 35vw;
    height: 35vw;
  }

  .event-and-news-tag {
    padding: 0.7em;
  }

  .event--box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 4vw;
    justify-items: center;
  }

  .event--title-box {
    grid-column: 2;
    justify-self: start;
    text-align: center;
    height:2em;
  }

  .news--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    justify-items: center;
  }

  .event-image {
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  .news-image {
    grid-column: 2;
    grid-row: 1 / span 4;
  }

  .event-and-news--title1 {
    width: 40vw;
    justify-self: center;
    text-align: start;
    grid-column: 2;
  }

  .event-and-news--content1 {
    width: 40vw;
    text-align: start;
    justify-self: center;
    grid-column: 2;
  }

  .event-and-news--title2 {
    width: 40vw;
    justify-self: center;
    text-align: end;
    grid-column: 1;
  }

  .event-and-news--content2 {
    width: 40vw;
    text-align: end;
    justify-self: center;
    grid-column: 1;
  }

  .event--read-more {
    grid-column: 2;
    justify-self: start;
    text-align: center;
  }

  .news--read-more {
    grid-column: 1;
    justify-self: end;
    text-align: center;
  }

  .subscribe-message {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .email-box {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .subscribe-button {
    grid-row: 2;
    grid-column: 3;
  }

  footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .follow-us {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
  }

  .footer-hashtag {
    grid-column: 3;
    grid-row: 2;
    text-align: start;
  }

  .footer-title {
    grid-row: 1 / span 3;
  }
}

@media (min-width: 1021px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;
  }

  .donate-bar {
    background-color: #C1F7D5;
    width: 25vw;
    padding: 0.5em;
    border-radius: 5em;
    text-align: center;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: -1;
  }

  .the-issue {
    flex-direction: row;
  }

  .issue-title {
    left: 2vw;
  }

  .issue-box {
    order: -1;
  }

  .take-action-box {
    display: flex;
    justify-content: space-around;
  }

  .our-work {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
  }

  .what-we-do--title {
    grid-column: 1;
    justify-self: start;
  }

  .what-we-do--content {
    justify-self: start;
    text-align: justify;
  }

  .our-work-readmore {
    width: 15vw;
    height:5vw;
    background-color:#C1F7D5;
    padding:0.5em;
    border-radius:3em;
    text-align:center;
    justify-self:center;
  }

  .our-work>div {
    padding: 0;
    width: 27vw;
    height: 50vw;
  }

  .image-format-1 {
    width: 25vw;
    height: 15vw;
  }

  .work-image-positioner {
    left: 3vw;
  }

  .story-img {
    width: 50vw;
    height: 44vw;
  }

  .stories--image {
    justify-self: end;
    grid-row: 1;
  }

  .stories--content-box {
    height: 29vw;
    width: 46vw;
    top: 6vw;
    left: -38vw;
  }

  .stories--title {
    width: 25vw;
    left: 6vw;
  }

  .stories-box {
    grid-template-rows: 70% 30%;
    gap: 23vw;
  }

  .stories--read-more {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
    align-self: end;
    background-color: #C1F7D5;
    width:20%;
    padding:1em;
    border-radius:5em;
  }

  .event-and-news {
    background-color: #354463;
    display: grid;
    justify-items: center;
    gap: 4vw;
    padding-bottom: 4vw;
  }

  .event-and-news-tag {
    padding: 0.7em;
  }

  .event--box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 4vw;
    justify-items: center;
  }

  .event--title-box {
    grid-column: 2;
    justify-self: start;
    text-align: center;
  }

  .news--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    justify-items: center;
  }

  .event-image {
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  .news-image {
    grid-column: 2;
    grid-row: 1 / span 4;
  }

  .event-and-news--title1 {
    width: 40vw;
    justify-self: center;
    text-align: start;
    grid-column: 2;
  }

  .event-and-news--content1 {
    width: 40vw;
    text-align: start;
    justify-self: center;
    grid-column: 2;
  }

  .event-and-news--title2 {
    width: 40vw;
    justify-self: center;
    text-align: end;
    grid-column: 1;
  }

  .event-and-news--content2 {
    width: 40vw;
    text-align: end;
    justify-self: center;
    grid-column: 1;
  }

  .event--read-more {
    grid-column: 2;
    justify-self: start;
    text-align: center;
  }

  .news--read-more {
    grid-column: 1;
    justify-self: end;
    text-align: center;
  }

  .subscribe-message {
    grid-column: 1;
    grid-row: 1;
  }

  .email-box {
    grid-row: 1;
    grid-column: 2;
  }

  .subscribe-button {
    grid-row: 1;
    grid-column: 3;
  }

  footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2vw;
    padding: 2em;
  }

  .contact-us {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
  }

  .links {
    grid-column: 3;
    grid-row: 1;
  }

  .follow-us {
    grid-column: 4;
  }

  .footer-hashtag {
    grid-column: 5;
    padding: 1vw 4vw;
    text-align: end;
  }
}